/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Start of Footer Menu */
footer.footer .container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(200, 200, 200);
  }
  
  footer.footer .container .row {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  
  footer.footer .container ul {
    list-style: none;
  }
  
  footer.footer {
    bottom: 0;
    height: 100%;
    background-color: rgb(235, 235, 235);
    padding-top: 44px;
  }
  
  footer.footer .container .footer-col {
    width: 25%;
    padding: 0 15px;
    justify-content: space-between;
  }
  
  footer.footer .container .footer-col h4 {
    font-size: 18px;
    color: rgb(75, 75, 75);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;
  }
  
  footer.footer .container .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff8800;
    height: 2px;
    box-sizing: border-box;
    width: 80px;
  }
  
  footer.footer .container .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  footer.footer .container .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: rgb(75, 75, 75);
    display: block;
    transition: all 0.3s ease;
  }
  
  footer.footer .container .footer-col ul li a:hover {
    color: #ff8800;
    padding-left: 8px;
  }
  
  footer.footer .container .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: transparent;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(75, 75, 75);
    border: 1px solid rgb(75, 75, 75);
    transition: all 0.5s ease;
  }
  
  footer.footer .container .footer-col .social-links a:hover {
    color: #fca11f;
    border: 1px solid #fca11f;
  }
  
  footer.footer .copyrightText {
    padding-bottom: 20px;
    margin-top: 15px;
    width: 100%;
    background: transparent;
    text-align: center;
    font-size: 10px;
    color: rgb(75, 75, 75);
  }
  
  
  /*responsive*/
  @media (max-width: 1024px) {
    footer.footer {
      padding-top: 48px;
    }
  }
  
  @media(max-width: 767px) {
    footer.footer .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media(max-width: 574px) {
    footer.footer .footer-col {
      width: 100%;
    }
  }
  
  /* End of Footer Menu */
  /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  
  